- page_title @listing.address

- if can? :claim, @listing
  .alert.alert-warning
    .container
      = link_to 'Claim this listing', listing_claim_path(@listing), class: 'btn btn-primary', method: :post

#header.listing{ style: "background-image: url(#{@street_view_url})" }
  .details.address
    %strong= @listing.street_address
    %br
    %small #{@listing.city}, #{@listing.state} #{@listing.zip_code}
  .details.asking-price
    %strong= number_to_currency(@listing.asking_price, precision: 0)

#content.container
  .row
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %span.panel-title Details
        .panel-body
          %ul.list-group
            - %w[bedrooms full_bathrooms half_bathrooms square_feet year_built].each do |p|
              %li.list-group-item
                = p.humanize
                %span.badge.badge-primary= @listing.send(p)
      .panel.panel-primary
        .panel-heading
          %span.panel-title Description
        .panel-body
          = @listing.description.present? ? @listing.description : 'None given'
      
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %span.panel-title Features
        .panel-body
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %span.panel-title Location
        .panel-body
          .text-center
            = image_tag @map_view_url, class: 'img-responsive'
      .panel.panel-primary
        .panel-heading
          %span.panel-title Controls
        .panel-body
          %ul
            - if can? :update, @listing
              %li= link_to 'Update listing', edit_listing_path(@listing)
            - if can? :read, @listing.offers.new
              %li= link_to 'View offers', listing_offers_path(@listing)

