- page_title @listing.address
#header.listing{ style: "background-image: url(#{@street_view_url})" }
  .details
    %strong= @listing.street_address
    %br
    %small #{@listing.city}, #{@listing.state} #{@listing.zip_code}
  .details
    %strong= number_to_currency(@listing.asking_price, precision: 0)
#content.container
  .row
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %span.panel-title Details
        .panel-body
          %ul.list-group
            - %w[bedrooms full_bathrooms half_bathrooms square_feet year_built].each do |p|
              %li.list-group-item
                = p.humanize
                %span.badge.badge-primary= @listing.send(p)
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %span.panel-title Sales info
        .panel-body
          %strong Description
          .well
            = @listing.description || 'None'
          %strong Showing instructions
          .well
            = @listing.showing_instructions || 'None'
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %span.panel-title Location
        .panel-body
          .text-center
            = image_tag @map_view_url, class: 'img-responsive'
