- content_for :title, 'New Password'
#content.container
  %h1.text-center New Password
  .row
    .col-md-4.col-md-offset-4
      .panel.panel-primary
        .panel-heading
          %span.panel-title New Password
        .panel-body
          = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
            = f.input :reset_password_token, as: :hidden
            = f.input :password, autofocus: true, input_html: { autocomplete: 'off' }
            = f.input :password_confirmation, input_html: { autocomplete: 'off' }
            = f.button :submit, 'Confirm new password', class: 'btn-primary'
        .panel-footer
          = render "devise/shared/links"
